$mix: mix(mediumvioletred, darkred);
.dash {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: #363537;
}
.week_cont {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  & > div {
    border-radius: 4%;
    border: 1px solid white;
    height: 200px;
    width: 200px;
    margin-top: 50px;
    background-color: #44355b;
  }
}
.slot_chart_cont {
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
}
.chart_cont {
  height: 470px;
  width: 650px;
  background-color: lighten(#152d3b, 20%);
  border: 5px solid black;
  border-radius: 4%;
  box-shadow: inset 0 0 40px #000000;
}
.slot_cont {
  height: 470px;
  width: 450px;
  background-color: lighten(#152d3b, 20%);
  border: 5px solid black;
  border: 5px solid black;
  border-radius: 4%;
  box-shadow: inset 0 0 40px #000000;
}

.viewlinks {
  font-size: 20px;
  margin-right: 10px;
}

.but_pdf {
  cursor: pointer;
}
.bm-overlay {
  background: white;
}
.bm-burger-button {
  position: absolute;
  left: 200px;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #3a7999;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: white;
}

/* General sidebar styles */
.bm-menu {
  background: #44355b;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  overflow-y: hidden !important;
}

/* Wrapper for item list */
.bm-item-list {
  color: white;
  padding: 0.8em;
  overflow-y: hidden;
}

/* Individual item */
.bm-item {
  display: inline-block;
  padding: 30px;
}

.transition-enter {
  transform: scale(0);
}
.transition-enter-active {
  transform: scale(1);
  transition: transform 800ms ease;
}
.transition-exit {
  transform: scale(1);
}
.transition-exit-active {
  transform: scale(0);
  transition: transform 800ms ease;
}
.export {
  border: none;
  cursor: pointer;
  background: #44355b;
  color: #f2f2f2;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
}

.day_link {
  padding-top: 20px !important;
}

.each_slot {
  padding: 10px;
}
