.dash {
  height: 100vh;
  width: 100vw;
  text-align: center;
}

/* .logout {
  float: right;
  margin-right: 50px;
} */
.day-parent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.day {
  height: 200px;
  width: 200px;
  margin-top: 50px;
  background-color: darkslategray;
}

.bottom {
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
}
.screen {
  height: 500px;
  width: 750px;
  background-color: darkslategrey;
}
.slotholder {
  height: 500px;
  width: 350px;
  background-color: darkred;
}

.viewlinks {
  font-size: 20px;
  margin-right: 10px;
}
